
  <body id="wrapper">
      <div class="firstview">
      </div>
      <div class="viewlogo">
        <%= image_tag 'logo.png' %>

<!--  デザイン変更
        <header>
          <div class="header">
            <div class="header-left">
              <i class="fa fa-bars">MENU</i>
            </div>
              <div class="header-middle">VISUAL</br>EMOTION
              </div>
              <div class="header-right">
              </div>
          </div>
         </header>
        <h1>美意識に、革命を。</h1>
        <h2>たっと一目で、あなたの価値観に衝撃を与える写真集が、ここにある。</h2>
      -->
      </div>

        <%= yield %>




<!--固定メニューバー-->
    <div class="fixedmenu">
      <div class="sidemenu">
        <div class="navbar">
          <div id="open-sb" class="menu-icon menu-button menu-right">
            <i class="fa fa-bars">MENU</i>
          </div>
        </div>
      </div>

      <div class="category">
        <%= link_to 'ABOUT', 'about' %>
      </div>
      <div class ="go-home">↑</div>
      <ul>
        <li><P>ART</P></li>
        <li><P>HUMAN</P></li>
        <li><P>VIEW</P></li>
        <li><P>OTHER</P></li>
      </ul>
    </div>
<!--  メニューバー終了　-->









<div class="container testimage">



  </div>


</html>