<!DOCTYPE html>
<html>
  <head>
    <title>VISUALEMOTION/request</title>
    <%= stylesheet_link_tag    'request', 'data-turbolinks-track' => true %>

    <!-- メニューバー　-->
<p id="backhome"><%= link_to 'Home', 'top' %></p>
<p id="terms_of_conditions"><%= link_to 'Terms of Conditions', 'law' %></p>
      <!-- メニューバー　-->
  </head>

  <body>
    <div class="blackspace">
      <h1>REQUEST</h1>
      <br>
    	<p>
        写真集のリクエストをいただきありがとうございます<br>
        ご期待に添えるよう参考にさせていただきます<br>
      </p>
    </div>
  </body>

<html>
