@charset "UTF-8";/*



*/




@import url(bootstrap.min.css);
/* Global Layout
-------------------------------*/
/* line 6, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway","リュウミン L-KL", "Ryumin Light KL";
  font-style: normal;
}

/* line 13, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
a:link {
  font-style: normal;
  text-decoration: underline;
}

/* line 19, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
p {
  height: 50px;
  text-align: center;
  color: white;
  margin: 0;
  margin-top: 0px;
}

/* line 27, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  padding: 0px;
}

/* line 34, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
li {
  list-style: none;
  float: left;
  padding: 0px;
  text-align: center;
  color: white;
  width: 75px;
  line-height: 50px;
}
/* line 42, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
li p {
  font-size: 20px;
  display: block;
  transition-duration: 1s;
}
/* line 46, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
li p:hover {
  background-color: #f8ced0;
}

/* line 52, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.container {
  max-width: 1336px;
}

/* Navigation
-------------------------------*/
/* line 57, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 100%;
  display: flex;
  color: white;
}

/* line 64, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.header-left {
  flex-grow: 1;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

/* line 70, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.header-middle {
  flex-grow: 6;
  line-height: 25px;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
}

/* line 77, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.header-right {
  flex-grow: 1;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

/* First View
-------------------------------*/
/* line 86, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.firstview {
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  background-attachment: fixed;
}
/* line 93, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.firstview h1 {
  padding-top: 190px;
  font-size: 7rem;
  text-align: center;
  margin: 0 auto;
  font-family: cursive;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  text-shadow: 1px 1px 3px #000;
}
/* line 104, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.firstview h2 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 7px;
  font-family: cursive;
  color: white;
  text-shadow: 1px 1px 3px #000;
}

/* line 113, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
video {
  width: 100%;
  position: fixed;
  z-index: 1;
}

/* Side Navigation
-------------------------------*/
/* line 121, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidemenu {
  width: 125px;
  float: left;
  cursor: pointer;
  transition-duration: 1s;
  text-align: center;
  margin: 0 auto;
}
/* line 129, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidemenu:hover {
  border-radius: 10px;
  background-color: #f8ced0;
}
/* line 133, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidemenu div {
  font-size: 20px;
  display: block;
  float: left;
  padding: 0px;
  text-align: center;
  color: white;
  width: 100px;
  line-height: 50px;
}

/* line 144, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fa {
  color: white;
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: -10px;
}

/* line 155, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#open-sb {
  width: 125px !important;
}
/* line 157, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#open-sb nav {
  font-size: 20px;
  display: block;
  padding: 0px;
  text-align: center;
  color: white;
  line-height: 50px;
}

/* Go Home Navigation
-------------------------------*/
/* line 171, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.go-home {
  width: 50px;
  float: left;
  line-height: 50px;
  color: white;
  text-align: center;
  display: block;
  transition-duration: 1s;
  font-size: 1.5rem;
  cursor: n-resize;
}
/* line 182, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.go-home:hover {
  border-radius: 10px;
  background-color: #f8ced0;
}

/* Category
-------------------------------*/
/* line 190, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fixedmenu {
  width: 300px;
  height: 100px;
  bottom: 10px;
  right: 10px;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 198, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fixedmenu .category {
  width: 125px;
  float: left;
  display: block;
  transition-duration: 1s;
}
/* line 203, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fixedmenu .category:hover {
  border-radius: 10px;
  background-color: #f8ced0;
}
/* line 208, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fixedmenu .category a {
  font-size: 18px;
  display: block;
  padding: 0px;
  text-align: center;
  color: white;
  line-height: 50px;
  font-style: bold;
  text-decoration: none;
}

/* line 223, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  padding: 0px;
}
/* line 229, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul li {
  list-style: none;
  float: left;
  padding: 0px;
  text-align: center;
  width: 75px;
  line-height: 50px;
}
/* line 236, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul li p {
  cursor: pointer;
  font-size: 15px;
  display: block;
  transition-duration: 1s;
  color: white;
}
/* line 242, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul li p:hover {
  border-radius: 10px;
  background-color: #f8ced0;
}

/* sidebar
-------------------------------*/
/* line 252, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar {
  background-color: #f8ced0;
}
/* line 254, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar li > a > .fa {
  display: block;
  cursor: pointer;
  font-size: 2rem;
  color: gray;
  margin: 10px 0px 10px 270px;
  transition-duration: 0.5s;
}
/* line 261, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar li > a > .fa:hover {
  color: white;
}
/* line 266, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav {
  clear: both;
  width: 310px;
  text-align: left;
}
/* line 270, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav p {
  font-size: 2rem;
  color: red;
  text-align: left;
  letter-spacing: 3px;
  padding-left: 28px;
  line-height: 50px;
  margin-bottom: 10px;
}
/* line 279, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul {
  margin: 0;
}
/* line 281, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul li {
  width: 310px;
  height: 49px;
  border-bottom: 1px solid white;
  text-align: left;
  transition-duration: 0.5s;
}
/* line 288, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul li:hover {
  background-color: white;
}
/* line 293, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul li a {
  font-size: 26px;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 50px;
  display: block;
  padding-left: 30px;
  transition-duration: 0.6s;
}
/* line 302, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul li a:hover {
  color: red;
  padding-left: 40px;
}

/* line 314, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#container {
  margin: 0 auto;
  z-index: 3;
  margin-top: 30px;
}

/* Books 
-------------------------------*/
/* line 324, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.testimage {
  width: 97%;
  text-align: center;
  margin: 0 auto;
}
/* line 330, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.testimage img {
  border-radius: 10px;
  margin: 0.2%;
  border: 0.1% solid gray;
  max-height: none;
}
/* line 342, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.testimage img:hover {
  background-color: #0a0a0a;
  opacity: 0.8;
}

/* line 350, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.w1 {
  width: 24.4%;
}

/* line 353, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.w2 {
  width: 24.4%;
}

/* pop
-------------------------------*/
/* popup ライトボックスの記述   
-------------------------------*/
/* line 370, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#popup {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 40%;
  height: 80%;
  max-height: 650px;
  min-width: 520px;
  min-height: 440px;
  border-radius: 3px;
  background-color: #fff;
}

/* line 388, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.70 !important;
  filter: alpha(opacity=70) !important;
}

/* line 402, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.amazon_img img {
  margin-left: 50px;
  max-height: 300px;
  margin-top: 30px;
  z-index: 100;
}

/* line 412, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#close {
  color: #aaa;
  position: relative;
  float: right;
  font-size: 32px;
  z-index: 1200;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 100%;
  border-radius: 3px;
  text-decoration: none;
  transition-duration: 0.6s;
}

/* line 427, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#close:hover {
  color: black;
  /*opacity: 0.90;*/
  /*filter:alpha(opacity=90);*/
}

/* line 434, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.title {
  margin: 15px auto;
}

/* line 439, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.social_link img {
  margin: 0 10px;
}
/* line 441, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.social_link img:hover {
  opacity: 0.6;
}

/* line 446, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.note {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}

/* line 452, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.amzn-shop-now-icon {
  z-index: 99;
}

/* アコーディオン
-------------------------------*/
/* line 461, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul {
  display: none;
}

/* line 465, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion section {
  font-size: 26px;
  color: #F55;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 50px;
  display: block;
  padding-left: 30px;
  transition-duration: 0.6s;
  cursor: pointer;
}
/* line 476, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion section:hover {
  color: orange;
  padding-left: 40px;
}

/* line 484, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul li {
  width: 310px;
  height: 29px;
  border-bottom: 1px solid white;
  text-align: left;
  transition-duration: 0.5s;
}
/* line 491, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul li:hover {
  background-color: white;
}
/* line 495, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul li a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 30px;
  display: block;
  padding-left: 60px;
  transition-duration: 0.6s;
}
/* line 504, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul li a:hover {
  color: red;
  padding-left: 65px;
}

/* ソーシャル対応
-------------------------------*/
/* line 517, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#socialize {
  clear: both;
  width: 250px;
  height: 150px;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 523, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#socialize p {
  color: red;
  font-size: 20px;
  line-height: 30px;
}

/* line 530, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#facebook_like {
  float: left;
  padding-right: 10px;
}

/* line 535, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#twitter {
  float: left;
}

/* line 539, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#hatena {
  float: right;
}

/* 抹殺予定   
-------------------------------*/
/* line 546, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#amznimgtoolsplate {
  display: none !important;
}
