@charset "UTF-8";/*



*/




@import url(bootstrap.min.css);
/* Global Layout
-------------------------------*/
/* line 6, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway","リュウミン L-KL", "Ryumin Light KL";
}

/* line 12, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
p {
  height: 50px;
  text-align: center;
  color: white;
  margin: 0;
  margin-top: 0px;
}

/* line 19, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  padding: 0px;
}

/* line 25, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
li {
  list-style: none;
  float: left;
  padding: 0px;
  text-align: center;
  color: white;
  width: 75px;
  line-height: 50px;
}
/* line 33, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
li p {
  font-size: 20px;
  display: block;
  transition-duration: 1s;
}
/* line 37, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
li p:hover {
  background-color: #f8ced0;
}

/* line 43, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.container {
  max-width: 1336px;
}

/* Navigation
-------------------------------*/
/* line 48, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 100%;
  display: flex;
  color: white;
}

/* line 55, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.header-left {
  flex-grow: 1;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

/* line 61, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.header-middle {
  flex-grow: 6;
  line-height: 25px;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
}

/* line 68, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.header-right {
  flex-grow: 1;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

/* First View
-------------------------------*/
/* line 77, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.firstview {
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  background-attachment: fixed;
}
/* line 84, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.firstview h1 {
  padding-top: 190px;
  font-size: 7rem;
  text-align: center;
  margin: 0 auto;
  font-family: cursive;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  text-shadow: 1px 1px 3px #000;
  z-index: 3;
}
/* line 96, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.firstview h2 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 7px;
  font-family: cursive;
  color: white;
  text-shadow: 1px 1px 3px #000;
  z-index: 3;
}

/* line 107, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
video {
  width: 100%;
  z-index: -1 !important;
}

/* Side Navigation
-------------------------------*/
/* line 114, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidemenu {
  width: 125px;
  float: left;
  cursor: pointer;
  transition-duration: 1s;
  text-align: center;
  margin: 0 auto;
}
/* line 122, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidemenu:hover {
  border-radius: 10px;
  background-color: #f8ced0;
}
/* line 126, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidemenu div {
  font-size: 20px;
  display: block;
  float: left;
  padding: 0px;
  text-align: center;
  color: white;
  width: 100px;
  line-height: 50px;
}

/* line 137, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fa {
  color: white;
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: -10px;
}

/* line 148, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#open-sb {
  width: 125px !important;
}
/* line 150, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#open-sb nav {
  font-size: 20px;
  display: block;
  padding: 0px;
  text-align: center;
  color: white;
  line-height: 50px;
}

/* Go Home Navigation
-------------------------------*/
/* line 164, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.go-home {
  width: 50px;
  float: left;
  line-height: 50px;
  color: white;
  text-align: center;
  display: block;
  transition-duration: 1s;
  font-size: 1.5rem;
  cursor: n-resize;
}
/* line 175, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.go-home:hover {
  border-radius: 10px;
  background-color: #f8ced0;
}

/* Category
-------------------------------*/
/* line 183, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fixedmenu {
  width: 300px;
  height: 100px;
  bottom: 10px;
  right: 10px;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 191, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fixedmenu .category {
  width: 125px;
  float: left;
  display: block;
  transition-duration: 1s;
}
/* line 196, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fixedmenu .category:hover {
  border-radius: 10px;
  background-color: #f8ced0;
}
/* line 201, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.fixedmenu .category a {
  font-size: 18px;
  display: block;
  padding: 0px;
  text-align: center;
  color: white;
  line-height: 50px;
  font-style: bold;
  text-decoration: none;
}

/* line 216, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  padding: 0px;
}
/* line 222, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul li {
  list-style: none;
  float: left;
  padding: 0px;
  text-align: center;
  width: 75px;
  line-height: 50px;
}
/* line 229, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul li p {
  cursor: pointer;
  font-size: 15px;
  display: block;
  transition-duration: 1s;
  color: white;
}
/* line 235, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul li p:hover {
  border-radius: 10px;
  background-color: #f8ced0;
}

/* sidebar
-------------------------------*/
/* line 245, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar {
  background-color: #f8ced0;
}
/* line 247, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar a > .fa {
  display: block;
  cursor: pointer;
  font-size: 2rem;
  color: gray;
  margin: 10px 0px 10px 270px;
  transition-duration: 0.5s;
}
/* line 254, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar a > .fa:hover {
  color: white;
}
/* line 259, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav {
  clear: both;
  width: 310px;
  text-align: left;
}
/* line 263, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav p {
  font-size: 2rem;
  color: red;
  text-align: left;
  letter-spacing: 3px;
  padding-left: 28px;
  top: -40px;
  line-height: 50px;
  margin-bottom: 10px;
}
/* line 273, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul {
  margin: 0;
}
/* line 275, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul li {
  width: 310px;
  height: 49px;
  border-bottom: 1px solid white;
  text-align: left;
  transition-duration: 0.5s;
}
/* line 282, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul li:hover {
  background-color: white;
}
/* line 287, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul li a {
  font-size: 26px;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 50px;
  display: block;
  padding-left: 30px;
  transition-duration: 0.6s;
}
/* line 296, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.sidebar nav ul li a:hover {
  color: red;
  padding-left: 40px;
}

/* line 308, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#container {
  margin: 0 auto;
  z-index: 3;
  margin-top: 30px !important;
}

/* Books 
-------------------------------*/
/* line 318, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.testimage {
  width: 97%;
  text-align: center;
  margin: 0 auto;
}
/* line 323, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.testimage img {
  border-radius: 10px;
  margin: 0.2%;
  border: 0.1% solid gray;
  max-height: none;
}
/* line 335, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.testimage img:hover {
  background-color: #0a0a0a;
  opacity: 0.8;
}

/* line 343, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.w1 {
  width: 24.4%;
}

/* line 346, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.w2 {
  width: 24.4%;
}

/* pop
-------------------------------*/
/* popup ライトボックスの記述   
-------------------------------*/
/* line 367, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#popup {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 40%;
  height: 80%;
  max-height: 650px;
  min-width: 520px;
  min-height: 440px;
  border-radius: 3px;
  background-color: #fff;
}

/* line 385, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.70 !important;
  filter: alpha(opacity=70) !important;
}

/* line 399, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.amazon_img img {
  margin-left: 50px;
  max-height: 300px;
  margin-top: 30px;
  z-index: 100;
}

/* line 409, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#close {
  color: #aaa;
  position: relative;
  float: right;
  font-size: 32px;
  z-index: 1200;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 100%;
  border-radius: 3px;
  text-decoration: none;
  transition-duration: 0.6s;
}

/* line 424, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#close:hover {
  color: black;
  /*opacity: 0.90;*/
  /*filter:alpha(opacity=90);*/
}

/* line 431, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.title {
  margin: 15px auto;
}

/* line 436, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.social_link img {
  margin: 0 10px;
}
/* line 438, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.social_link img:hover {
  opacity: 0.6;
}

/* line 443, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.note {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}

/* line 449, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.amzn-shop-now-icon {
  z-index: 99;
}

/* アコーディオン
-------------------------------*/
/* line 458, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul {
  display: none;
}

/* line 462, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion section {
  font-size: 26px;
  color: #F55;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 50px;
  display: block;
  padding-left: 30px;
  transition-duration: 0.6s;
  cursor: pointer;
}
/* line 473, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion section:hover {
  color: orange;
  padding-left: 40px;
}

/* line 481, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul li {
  width: 310px;
  height: 29px;
  border-bottom: 1px solid white;
  text-align: left;
  transition-duration: 0.5s;
}
/* line 488, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul li:hover {
  background-color: white;
}
/* line 492, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul li a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 30px;
  display: block;
  padding-left: 80px;
  transition-duration: 0.6s;
}
/* line 501, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
ul.accordion ul li a:hover {
  color: red;
  padding-left: 83px;
}

/* line 508, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.big {
  height: 34px !important;
}
/* line 511, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.big a {
  font-size: 20px  !important;
  line-height: 35px  !important;
  padding-left: 60px  !important;
}
/* line 515, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
.big a:hover {
  padding-left: 65px  !important;
}

/* ソーシャル対応
-------------------------------*/
/* line 526, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#socialize {
  clear: both;
  width: 250px;
  height: 150px;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 532, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#socialize p {
  color: red;
  font-size: 20px;
  line-height: 30px;
}

/* line 539, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#facebook_like {
  float: left;
  padding-right: 10px;
}

/* line 544, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#twitter {
  float: left;
}

/* line 548, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#hatena {
  float: right;
}

/* 抹殺予定   
-------------------------------*/
/* line 555, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#amznimgtoolsplate {
  display: none !important;
}

/* メディアクエリー

-------------------------------*/
/* line 566, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
#home {
  display: none;
}

@media screen and (max-width: 900px) {
  /* line 568, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .w1 {
    width: 32.7%;
  }

  /* line 569, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .w2 {
    width: 32.7%;
  }
}
@media screen and (max-width: 600px) {
  /* line 571, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .w1 {
    width: 48.8%;
  }

  /* line 572, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .w2 {
    width: 48.8%;
  }

  /* line 573, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .fixedmenu {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
  }

  /* line 578, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .main-category {
    display: none;
  }

  /* line 579, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .category {
    display: none !important;
  }

  /* line 580, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .sidemenu {
    float: none;
  }

  /* line 581, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .go-home {
    display: none;
  }

  /* line 582, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  #home {
    display: block;
  }

  /* line 583, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .sidebar {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
@media screen and (max-width: 480px) {
  /* line 585, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .w1 {
    width: 99.2%;
  }

  /* line 586, /Users/apple/Desktop/Progate/visual emotion/app/assets/stylesheets/tops.css.scss */
  .w2 {
    width: 99.2%;
  }
}
