<!DOCTYPE html>
<html>
<head>
  <title>Visualemotion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
  <div class="header">ABOUT</div>
<body>
  <h1>本×写真=写真集</h1>
  <p>
    <span>写真家たちが切り取った世界の一端</span>
    <span>それらはあなたの感性に</span>
    <span>衝撃を与える。</span>
  </p>

  <h2>MORE INFO</h2>
  <p>
    <span>本サイトで一目見て気になった写真</span>
    <span>それはきっとあなたの感性が求めている</span>
    <span>新しい世界への扉です。</span>
  </p>

  <h3>SITE MAKER</h3>
  <p>
    <span>BUNGO NAKAMURA - Designer</span>
    <span>MICHI KANDA - Mentor</span>
    <span>MAYA KATAGIRI - Engineer</span>
  </p>

<%= yield %>

</body>
</html
