<!DOCTYPE html>
<html>
  <head>
    <title>Visualemotion</title>
    <%= stylesheet_link_tag    'contacts', media: 'all', 'data-turbolinks-track' => true %>

    <!-- メニューバー　-->
    <p id="backhome"><%= link_to 'Home', 'top' %></li>
      <!-- メニューバー　-->

    <div class="page-header">
      <h1>CONTACT</h1>
    </div>
  </head>

  <body>
  	<br>
	<p>お問い合わせいただきありがとうございました</p>
  </body>

<html>