<!DOCTYPE html>
<html>
  <head>
    <title>VISUALEMOTION/contact</title>
    <%= stylesheet_link_tag    'contact', 'data-turbolinks-track' => true %>

    <!-- メニューバー　-->
<p id="backhome"><%= link_to 'Home', 'top' %></p>
<p id="terms_of_conditions"><%= link_to 'Terms of Conditions', 'law' %></p>
      <!-- メニューバー　-->

    <div class="page-header">
      <h1>CONTACT</h1>
    </div>
  </head>

  <body>
  	<br>
	  <p class="thanks_message">
    お問い合わせいただきありがとうございました<br>
    ご入力いただいたメールアドレスに確認メールをお送りいたしました<br>
    追ってご連絡させていただきますので今しばらくお待ちくださいませ
    </p>
  </body>

<html>