// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: image-url('contact.jpg');
  background-size: cover;
}



table{
	border: 1px solid #ccc;
}
h1{
	padding: 0;
}

.field{
	text-align: center;
	margin: 20px;
}
input{
	width: 300px;
	height: 30px;
	border-radius: 10px;
	margin: 0 auto;


}
.actions{
	text-align: center;
}


#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
