$font-family:'Raleway', sans-serif, "リュウミン L-KL", "Ryumin Light KL", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

@import "bootstrap.min.css";

/* Global Layout
-------------------------------*/
body{
  margin: 0;
  padding: 0;
  height: 3000px;
  font-family:'Raleway', sans-serif, "リュウミン L-KL", "Ryumin Light KL", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

}
a:link {
  font-style:normal;
  text-decoration:underline;
}
h1{
  font-size: 7rem;
  color: white;
  font-family: serif;
  text-align: center;
  padding-left:100px;
  margin: 0;
  margin-top: 200px;
}
h2{
  font-size: 2rem;
  color: white;
  font-family: serif;
  text-align: center;
  letter-spacing:10px;
  margin-top: 66px;
}

 p{
    height: 50px;
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 0px;
  }

ul {
  //text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  padding: 0px;
  } 
  li{
    list-style: none;
    float: left;
    padding: 0px;
    text-align: center;
    color:white;
    width: 75px;
    line-height: 50px;
    p{
    font-size: 20px;
    display: block;
    transition-duration: 1s;
    &:hover{
      background-color: #f8ced0;
    }
  }
}

.container {
  max-width: 1336px;
}
/* Navigation
-------------------------------*/
.header{
  background-color: rgba(0,0,0,0.7);
  height: 50px;
  width:100%;
  display:flex;
  color: white;
}
.header-left{
  flex-grow:1;
  line-height: 50px;
  font-size:20px;
  text-align: center;
}
.header-middle{
  flex-grow:6;
  line-height: 25px;
  font-size:30px;
  text-align: center;
  letter-spacing:0;
}
.header-right{
  flex-grow:1;
  line-height: 50px;
  font-size:20px;   
  text-align: center;
}

/* First View
-------------------------------*/
.firstview{
  background-image: image-url('bg_home01.jpg');
  background-size: cover;
  background-position: center;
  height:550px;
  width: 100%;
}
.viewlogo{
  position: absolute;
  top: 20px;
  left: 20px;
   img{
    height: 50%;
    width: 50%;
   }

}

/* Side Navigation
-------------------------------*/
.sidemenu{
  width: 125px;
  float: left;
  cursor: pointer;
  transition-duration: 1s;
  text-align: center;
  margin: 0 auto;

  &:hover{
        border-radius: 10px;
        background-color: #f8ced0;
        }
  div{
    font-size: 20px;
    display: block;
    float: left;
    padding: 0px;
    text-align: center;
    color:white;
    width: 100px;
    line-height: 50px;
  }
}
.fa{
  color: black;
  padding-left:20px;
}



/* Go Home Navigation
-------------------------------*/
.go-home{
  width: 50px;
  float: left;
  line-height: 50px;
  color: black;
  text-align: center;
  display: block;
  transition-duration: 1s;
  font-size: 1rem;
   &:hover{
        border-radius: 10px;
        background-color: #f8ced0;
        }
}

/* Category
-------------------------------*/
.fixedmenu{
  width: 300px;
  height: 100px;
  bottom: 10px;
  right: 10px;
  position: fixed;
  z-index: 100;
  //background-color: rgba(0,0,0,0.7);
  .category{
    width: 125px;
    float: left;
    display: block;
    transition-duration: 1s;
   &:hover{
        border-radius: 10px;
        background-color: #f8ced0;
        }

    a{
      font-size: 18px;
      display: block;
      padding: 0px;
      text-align: center;
      color:black;
      line-height: 50px;
      font-style: bold;
      text-decoration: none;
    }
  }
}



ul {
  //text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  padding: 0px;
  li{
    list-style: none;
    float: left;
    padding: 0px;
    text-align: center;
    width: 75px;
    line-height: 50px;
    p{
    cursor: pointer;
    font-size: 15px;
    display: block;
    transition-duration: 1s;
    color:black;
      &:hover{
        border-radius: 10px;
        background-color: #f8ced0;
        }
      }
    }
}

/* sidebar
-------------------------------*/
  .sidebar{
    background-color: #f8ced0;
    li > a >.fa{
      display: block;
      cursor: pointer;
      font-size: 2rem;
      color: gray;
      margin: 10px 0px 10px 230px;
      transition-duration: 1s;
      &:hover{
        color: white;
      }
    
    }
    nav{
      clear: both;
      width: 270px;
      text-align: left;
      p{
        font-size: 2rem;
        color:red;
        text-align: left;
        letter-spacing: 3px;
        padding-left: 40px;
        line-height: 50px;
        margin-bottom: 10px;
      }
      ul{
        li{
          width: 270px;
          height: 49px;
          border-bottom: 1px solid white;
          text-align: left;
          padding-left: 40px;
          transition-duration: 1s;

           &:hover{
              background-color: white;
            }

          a{
            font-size: 26px;
            color: black;
            text-decoration: none;
            letter-spacing: 3px;
            line-height: 50px;
            display: block;

           

          }
        }
      }
    }
  }

/* Books 
-------------------------------*/
.testimage {
text-align: center;
  img{
  margin: 10px
  }
}
