$font-family-sans-serif:  "リュウミン L-KL", "Ryumin Light KL", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

@charset "UTF-8";

.body{
  background-image: image-url('contact.jpg');
  background-size: cover;
  background-attachment: scroll;
  color: black;
}
