
@charset "UTF-8";


/* HEADER
-------------------------------*/

#backhome{
  position: fixed;
  top: 30px;
  right: 30px;
  a{
    display: block;
    width: 100px;
    height: 40px;
    color: black;
    text-decoration: none;
    transition-duration: 1s;
    line-height: 40px;
    font-family: Raleway;
    font-weight: bold;
    &:hover{
        border-radius: 10px;
        background-color: #f8ced0;
        }
  }
}

#book_request{
  position: fixed;
  top: 90px;
  right: 30px;
  a{
    display: block;
    width: 150px;
    height: 40px;
    font-family: Raleway;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition-duration: 1s;
    line-height: 40px;
    &:hover{
        border-radius: 10px;
        background-color: #f8ced0;
        }
  }
}
#terms_of_conditions{
  position: fixed;
  top: 150px;
  right: 30px;
  a{
    display: block;
    width: 180px;
    height: 40px;
    font-family: Raleway;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition-duration: 1s;
    line-height: 40px;
    &:hover{
        border-radius: 10px;
        background-color: #f8ced0;
        }
  }
}
ul li{
  width: 300px;
  font-size: 0.75rem;
  line-height: 20px;
  color: black;
}


/* Common Layout For Contacts
-------------------------------*/

body{
  background-image: image-url('contact.jpg');
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  position: relative;
  text-align: center;
  height: 1000px;
  width: 100%;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;

}

h1{
  font-size: 3rem;
  color: black;
  text-align: center;
  // margin-left: 450px;
  // float: center;

}

.button{
  border: none;
  box-shadow: none;
  font-size: 1rem;
  height: 50px;
  width: 200px;
  background-color: #996633;
  color: white;
  font-family: Raleway;
  font-weight: bold;
}

/* Index
-------------------------------*/

p{
 font-size: 1rem;
 color: black;
 font-weight: bold;
 font-family: Raleway;
 margin: 0px 0px;
}

.text{
  font-size: 1rem;
  // padding: 0;
  border: none;
  line-height: 40px;
  width: 300px;
  // margin: 0;
  // line-height: 30px !important;
  }

.index_message{
  color: black;
  font-family: serif;
  font-size: 1rem;
}

// ul li{
//  list-style-type: none;
//  color: black;
//  float: none;
//  width: 300px;
//  line-height: 0.5rem;

// }

/* Confirm
-------------------------------*/

.thanks_message{
  font-size: 1rem;
  line-height: 50px;
  text-align: center;
  font-family: serif;
}


