body{
	margin: 0;
	padding: 0;
	
}
.C{
	background-image: image-url('bg_home01.jpg');
	background-size: cover;
	background-position: center;
	height:600px;
	width: 100%;

}
.header{
	background-color: rgba(0,0,0,0.5);
	height: 50px;
	width:100%;
	display:flex;
	color: white;
}

.header-left{
	flex-grow:1;

	line-height: 50px;
	font-size:30px bold;
	text-align: center;
}

.header-middle{
	flex-grow:6;

	line-height: 25px;
	font-size:30px;
	text-align: center;
	letter-spacing:0;
}
.header-right{
	flex-grow:1;

	line-height: 50px;
	font-size:30px bold;		
	text-align: center;

}
.aboutlink{
		text-decoration: none;
	
}



h1{
	font-size: 5rem;
	color: white;
	font-family: serif;
	text-align: center;
	padding-left:100px;
	margin: 0;
	margin-top: 200px;
}
h2{
	font-size: 1rem;
	color: white;
	font-family: serif;
	text-align: center;
	letter-spacing:10px;
	margin: 0;
}




//カテゴリー　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


.category{
	height:200px;
	width:100%;
	display:flex;
	background-color: red;

 	ul {
 		width: 1200px;
 		text-align: center;
 		margin: 0 auto;

 	} li{
		list-style: none;
		float: left;
	
		width: 25%;
		text-align: center;

		}
}
